
@font-face {
  font-family: 'Utsaah';
  src: url('Utsaah.eot?#iefix') format('embedded-opentype'),  url('Utsaah.woff') format('woff'), url('Utsaah.ttf')  format('truetype'), url('Utsaah.svg#Utsaah') format('svg');
  font-weight: normal;
  font-style: normal;
}
